.card {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  height: 150px;
  width: 100px;
}

section .container {
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 400px;
}

main section:nth-of-type(1) .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}

main section:nth-of-type(1) .container .box:nth-child(1) {
  border: 2px solid pink;
  flex-shrink: 2;
  flex-grow: 3;
  flex-basis: 3;
}
main section:nth-of-type(1) .container .box:nth-child(2) {
  border: 2px solid pink;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 3;
}
main section:nth-of-type(1) .container .box:nth-child(3) {
  border: 2px solid pink;
  flex-shrink: 4;
  flex-grow: 3;
  flex-basis: 2;
}
main section:nth-of-type(1) .container .box:nth-child(4) {
  border: 2px solid pink;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 2;
}

main section:nth-of-type(2) .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 1rem;
}

main section:nth-of-type(2) .container .playing-card:nth-child(1) img {
  width: 100px;
  height: 150px;
}
main section:nth-of-type(2) .container .playing-card:nth-child(2) img {
  width: 100px;
  height: 150px;
}
main section:nth-of-type(2) .container .playing-card:nth-child(3) img {
  width: 100px;
  height: 150px;
}
main section:nth-of-type(2) .container .playing-card:nth-child(4) img {
  width: 100px;
  height: 150px;
}

.container-grid {
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 600px;
  display: grid;
  height: auto;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

.card-grid img {
  width: 100px;
  height: 150px;
}
.container-grid-2 {
  background: #e8cbc0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #636fa4,
    #e8cbc0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 600px;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.card-grid-2 img {
  width: 100px;
  height: 150px;
}

main section:nth-of-type(5) .container {
  display: grid;
  grid-template-rows: 120px 40px 120px 120px 40px 120px;
  height: auto;
  grid-template-areas:
    "a"
    "b"
    "b"
    "c"
    "c"
    "d";
  gap: 5px;
}

main section:nth-of-type(5) .container .card:nth-child(1) {
  grid-area: a;
  border-radius: 15px 15px 0 0;
}
main section:nth-of-type(5) .container .card:nth-child(2) {
  grid-area: b;
  border-radius: 15px 15px 0 0;
}
main section:nth-of-type(5) .container .card:nth-child(3) {
  grid-area: c;
  border-radius: 15px 15px 0 0;
}
main section:nth-of-type(5) .container .card:nth-child(4) {
  grid-area: d;
  border-radius: 15px 15px 0 0;
}
